boat/Service References/ServiceReferenceTauThuyen_Tuandv/ServiceTauThuyen3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BoatService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BoatService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tuan_dv_TauThuyenModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="MMSI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maloaitau" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maquocgia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="taitrong" type="xs:long" />
      <xs:element minOccurs="0" name="tentau" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tuan_dv_TauThuyenModel" nillable="true" type="tns:Tuan_dv_TauThuyenModel" />
</xs:schema>