boat/Service References/ServiceReferenceTauThuyen_Tuandv/ServiceTauThuyen1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59421/Service/tuan/ServiceTauThuyen.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BoatService" />
  <xs:element name="GetTauThuyenById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ma" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTauThuyenByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BoatService" minOccurs="0" name="GetTauThuyenByIdResult" nillable="true" type="q1:Tuan_dv_TauThuyenModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemTauThuyen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BoatService" minOccurs="0" name="tau" nillable="true" type="q2:Tuan_dv_TauThuyenModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemTauThuyenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemTauThuyenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaTauThuyen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BoatService" minOccurs="0" name="tau" nillable="true" type="q3:Tuan_dv_TauThuyenModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaTauThuyenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaTauThuyenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layDanhSachTau">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="layDanhSachTauResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="layDanhSachTauResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layDanhSachLoaiTau">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="layDanhSachLoaiTauResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="layDanhSachLoaiTauResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layDanhSachQuocGia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="layDanhSachQuocGiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="layDanhSachQuocGiaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaTauThuyen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maTau" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaTauThuyenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaTauThuyenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>