boat/Service References/ShipTypeServiceReference/LoaiTauService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoaiTauService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59421/Service/dien/LoaiTauService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59421/Service/dien/LoaiTauService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59421/Service/dien/LoaiTauService.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:59421/Service/dien/LoaiTauService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BoatService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoaiTauService_getListTypesShip1_InputMessage">
    <wsdl:part name="parameters" element="tns:getListTypesShip1" />
  </wsdl:message>
  <wsdl:message name="ILoaiTauService_getListTypesShip1_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListTypesShip1Response" />
  </wsdl:message>
  <wsdl:message name="ILoaiTauService_InsertTypesShip_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTypesShip" />
  </wsdl:message>
  <wsdl:message name="ILoaiTauService_InsertTypesShip_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTypesShipResponse" />
  </wsdl:message>
  <wsdl:message name="ILoaiTauService_UpdateTypesShip_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTypesShip" />
  </wsdl:message>
  <wsdl:message name="ILoaiTauService_UpdateTypesShip_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTypesShipResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoaiTauService">
    <wsdl:operation name="getListTypesShip1">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoaiTauService/getListTypesShip1" message="tns:ILoaiTauService_getListTypesShip1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoaiTauService/getListTypesShip1Response" message="tns:ILoaiTauService_getListTypesShip1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTypesShip">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoaiTauService/InsertTypesShip" message="tns:ILoaiTauService_InsertTypesShip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoaiTauService/InsertTypesShipResponse" message="tns:ILoaiTauService_InsertTypesShip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTypesShip">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoaiTauService/UpdateTypesShip" message="tns:ILoaiTauService_UpdateTypesShip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoaiTauService/UpdateTypesShipResponse" message="tns:ILoaiTauService_UpdateTypesShip_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoaiTauService" type="tns:ILoaiTauService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getListTypesShip1">
      <soap:operation soapAction="http://tempuri.org/ILoaiTauService/getListTypesShip1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTypesShip">
      <soap:operation soapAction="http://tempuri.org/ILoaiTauService/InsertTypesShip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTypesShip">
      <soap:operation soapAction="http://tempuri.org/ILoaiTauService/UpdateTypesShip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoaiTauService">
    <wsdl:port name="BasicHttpBinding_ILoaiTauService" binding="tns:BasicHttpBinding_ILoaiTauService">
      <soap:address location="http://localhost:59421/Service/dien/LoaiTauService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>