boat/Service References/ShipTypeServiceReference/LoaiTauService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59421/Service/dien/LoaiTauService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BoatService.Model" />
  <xs:element name="getListTypesShip1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListTypesShip1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getListTypesShip1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTypesShip">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BoatService.Model" minOccurs="0" name="_loaitau" nillable="true" type="q1:loaitau" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTypesShipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertTypesShipResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTypesShip">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BoatService.Model" minOccurs="0" name="_loaitau" nillable="true" type="q2:loaitau" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTypesShipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTypesShipResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>