boat/Service References/QuocgiaService/QuanLyQuocGia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QuanLyQuocGia" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59421/Service/tien/QuanLyQuocGia.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59421/Service/tien/QuanLyQuocGia.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59421/Service/tien/QuanLyQuocGia.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuanLyQuocGia_themquocgia_InputMessage">
    <wsdl:part name="parameters" element="tns:themquocgia" />
  </wsdl:message>
  <wsdl:message name="IQuanLyQuocGia_themquocgia_OutputMessage">
    <wsdl:part name="parameters" element="tns:themquocgiaResponse" />
  </wsdl:message>
  <wsdl:message name="IQuanLyQuocGia_suaquocgia_InputMessage">
    <wsdl:part name="parameters" element="tns:suaquocgia" />
  </wsdl:message>
  <wsdl:message name="IQuanLyQuocGia_suaquocgia_OutputMessage">
    <wsdl:part name="parameters" element="tns:suaquocgiaResponse" />
  </wsdl:message>
  <wsdl:message name="IQuanLyQuocGia_xoaquocgia_InputMessage">
    <wsdl:part name="parameters" element="tns:xoaquocgia" />
  </wsdl:message>
  <wsdl:message name="IQuanLyQuocGia_xoaquocgia_OutputMessage">
    <wsdl:part name="parameters" element="tns:xoaquocgiaResponse" />
  </wsdl:message>
  <wsdl:message name="IQuanLyQuocGia_layDanhSachquocgia_InputMessage">
    <wsdl:part name="parameters" element="tns:layDanhSachquocgia" />
  </wsdl:message>
  <wsdl:message name="IQuanLyQuocGia_layDanhSachquocgia_OutputMessage">
    <wsdl:part name="parameters" element="tns:layDanhSachquocgiaResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuanLyQuocGia">
    <wsdl:operation name="themquocgia">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuanLyQuocGia/themquocgia" message="tns:IQuanLyQuocGia_themquocgia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuanLyQuocGia/themquocgiaResponse" message="tns:IQuanLyQuocGia_themquocgia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="suaquocgia">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuanLyQuocGia/suaquocgia" message="tns:IQuanLyQuocGia_suaquocgia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuanLyQuocGia/suaquocgiaResponse" message="tns:IQuanLyQuocGia_suaquocgia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="xoaquocgia">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuanLyQuocGia/xoaquocgia" message="tns:IQuanLyQuocGia_xoaquocgia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuanLyQuocGia/xoaquocgiaResponse" message="tns:IQuanLyQuocGia_xoaquocgia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="layDanhSachquocgia">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuanLyQuocGia/layDanhSachquocgia" message="tns:IQuanLyQuocGia_layDanhSachquocgia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuanLyQuocGia/layDanhSachquocgiaResponse" message="tns:IQuanLyQuocGia_layDanhSachquocgia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQuanLyQuocGia" type="tns:IQuanLyQuocGia">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="themquocgia">
      <soap:operation soapAction="http://tempuri.org/IQuanLyQuocGia/themquocgia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="suaquocgia">
      <soap:operation soapAction="http://tempuri.org/IQuanLyQuocGia/suaquocgia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xoaquocgia">
      <soap:operation soapAction="http://tempuri.org/IQuanLyQuocGia/xoaquocgia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="layDanhSachquocgia">
      <soap:operation soapAction="http://tempuri.org/IQuanLyQuocGia/layDanhSachquocgia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuanLyQuocGia">
    <wsdl:port name="BasicHttpBinding_IQuanLyQuocGia" binding="tns:BasicHttpBinding_IQuanLyQuocGia">
      <soap:address location="http://localhost:59421/Service/tien/QuanLyQuocGia.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>