boat/Service References/QuocgiaService/QuanLyQuocGia2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="themquocgia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maquocgia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tenquocgia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="themquocgiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="themquocgiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="suaquocgia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maquocgia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tenquocgia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="suaquocgiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="suaquocgiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xoaquocgia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maquocgia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xoaquocgiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xoaquocgiaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layDanhSachquocgia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="layDanhSachquocgiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="layDanhSachquocgiaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>