boat/Service References/ConBaoService/ConBaoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="layDanhSachBao">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="layDanhSachBaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="layDanhSachBaoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="themConBao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ghiChu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="thoiGianHinhThanh" type="xs:long" />
        <xs:element minOccurs="0" name="maTinhTrang" type="xs:int" />
        <xs:element minOccurs="0" name="trangThai" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="themConBaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="themConBaoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xoaConBao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ma" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xoaConBaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xoaConBaoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="themHanhTrinhBao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maConBao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trangThai" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="themHanhTrinhBaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="themHanhTrinhBaoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xoaHanhtrinhBao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maHanhTrinh" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xoaHanhtrinhBaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xoaHanhtrinhBaoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="themViTriBao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maHanhTrinh" type="xs:int" />
        <xs:element minOccurs="0" name="viDo" type="xs:float" />
        <xs:element minOccurs="0" name="kinhDo" type="xs:float" />
        <xs:element minOccurs="0" name="thoiGian" type="xs:long" />
        <xs:element minOccurs="0" name="vanToc" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="themViTriBaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="themViTriBaoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xoaViTriBao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ma" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xoaViTriBaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xoaViTriBaoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="suaViTriBao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ma" type="xs:int" />
        <xs:element minOccurs="0" name="viDo" type="xs:float" />
        <xs:element minOccurs="0" name="kinhDo" type="xs:float" />
        <xs:element minOccurs="0" name="thoiGian" type="xs:long" />
        <xs:element minOccurs="0" name="vanToc" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="suaViTriBaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="suaViTriBaoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layTinhTrang">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="layTinhTrangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="layTinhTrangResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layDSHanhTrinh">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maConBao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layDSHanhTrinhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="layDSHanhTrinhResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layViTriBao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maHanhTrinh" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layViTriBaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="layViTriBaoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>